.privacy-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 25px;
    line-height: 1.8;
    color: #333;
  }
  
  .privacy-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .privacy-container h2 {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
  }
  