.social-header {
  background-color: #AA87C1;;
  
  top: 0;
  z-index: 999;
  
}

.social-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
  width: auto;
  margin-left: -80rem;
}

.nav {
  display: flex;
  gap: 40px;
  margin-left: 42rem;
  margin-top: -1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px; /* increased font size */
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #000;
}
