.hero-section {
  background: rgb(240, 204, 175);
  color: #fff;
  padding: 80px 20px;
  text-align: center;
 
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 30px;
}


.hero-action-centered {
  margin: 30px 0;
}

.get-started-btn {
  padding: 14px 28px;
  font-size: 1rem;
  background-color: #fdb528;
  border: none;
  border-radius: 12px;
  color: #421c0a;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: background-color 0.3s ease;
}

.get-started-btn:hover {
  background-color: #e09e15;
}

.hero-stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 0.95rem;
  opacity: 0.9;
}
